<img src="<%= imageurl %>">
<div class="forbes-info">
    <h2><%= name %></h2>

    <p>
        <span class="forbes-net-worth">Net Worth: $<%= networth %></span> <br>
        <%= title %>
    </p>

    <h3>Ranking</h3>
    <ul class="forbes-ranking">
        <li class="forbes-rank">Forbes:&nbsp;<%= forbesrank %></li>
        <li class="forbes-donor-rank">Donor:&nbsp;<%= donorrank %></li>
    </ul>

</div>
